/*Ini CSS External*/ 

.main-header > h1 {
    margin: 0px;
    background-color: powderblue;
    padding: 24px;
    text-align: center;

}

main {
    background-color: ivory;
    margin: 16px;
    text-align: center;
    font-family: monospace, monospace, none;

}

.nav-fitur {
    display: flex;
    flex-direction: column;
}
.nav-fitur > a {
    color: orangered;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 50%;
    align-self: center;
}

.nav-fitur-non-active {
    background-color: mistyrose;
}

.nav-fitur-active {
    background-color: blanchedalmond;
}

.section-header {
    background-color: powderblue;
    padding: 16px;
}

.section-image {
    background-image: url(../assets/Persegi.jpg);
    width: 100px;
    height: 100px;
    justify-self: center;
    background-size: cover;
    background-position: center;
}

.calculate-content {
    border: 1px solid;
    height: 300px;
}

section {
    margin-top: 16px;
    margin-bottom: 16px;
}

footer {
    text-align: center;
}

 